<% if current_user.tasks.any? %>
	<div class="tab-content">
		<div class="tab-pane active" id="all">
	  	<ul class="unstyled todo">

	  		<!-- brzydko zrobione ale bug z pustym polem -->

	  		<% all_tasks = Task.find_all_by_user_id(current_user.id) %> 
	    	<%= render :partial => 'tasks/task', :collection => all_tasks %>
	  	</ul>
	  </div>
		<% current_user.categories.each do |cat| %>
		  <div class="tab-pane" id="<%= cat.id %>">
		  	<ul class="unstyled todo">
		  		<% tasks = Task.find_all_by_category_id(cat.id) %>
		    	<%= render :partial => 'tasks/task', :collection => tasks %>
		  	</ul>
		  </div>
		<% end %>
	</div>
<% end %>