<li id='<%= "task_#{task.id}" %>' class="well">
	<% if current_user?(task.user) %>
    <%= link_to "DONE", task, method:  :delete,
                                title:   task.content,
                                :class => "btn btn-success btn-mini",
                                :remote => true %>
  <% end %>

	<%= task.content %>
	<% if task.category %>
		<span class="label pull-right"><%= task.category.title %></span>
	<% end %>
</li>