<li id='<%= "task_#{task.id}" %>'>
<%= task.id %>
<%= task.content %>

<% if current_user?(task.user) %>
    <%= link_to "delete", task, method:  :delete,
                                title:   task.content,
                                :class => "btn btn-danger btn-mini",
                                :remote => true %>
  <% end %>

</li>