<% if signed_in? %>

	<div class="row-fluid" id="new_task_form">
		<%= render 'tasks/form' %>
	</div>

	<div id="tasks_listing">
		<%= render 'tasks/listing' %>
	</div>

<% else %>

	<% provide(:title, "Witaj na Tuduk!") %>
	<p>
		Możesz zobaczyć listę aktualnych użytkowników
		<%= link_to "Zobacz użytkowników", users_path, :class => "btn btn-primary pull-right" %>
	</p>

<% end %>
