<% if signed_in? %>

	<% provide(:title, "Your Dashboard") %>

	<div class="row-fluid">
		<%= render 'tasks/form' %>
	</div>

	<% if @user.tasks.any? %>
		<ul class="unstyled" id="tasks_list">
   		<%= render @tasks %>
		</ul>
	<% end %>




						<div class="tab-content">
				    <div class="tab-pane active" id="1">
				      <p>I'm in Section 1.</p>
				    </div>
				    <div class="tab-pane" id="2">
				      <p>Howdy, I'm in Section 2.</p>
				    </div>
				  </div>


<% else %>

	<% provide(:title, "Witaj na Tuduk!") %>
	<p>
		Możesz zobaczyć listę aktualnych użytkowników
		<%= link_to "Zobacz użytkowników", users_path, :class => "btn btn-primary pull-right" %>
	</p>

<% end %>
