<% if signed_in? %>

	<% provide(:title, "Your Dashboard") %>

	<%= render 'tasks/form' %>


	<% if @user.tasks.any? %>
		<table class="table">
		  <thead>
		    <tr>
		    	<th>ID</th>
		      <th>Content</th>
		    </tr>
		  </thead>
		  <tbody>
		    	<%= render @tasks %>
		  </tbody>
		</table>
	<% end %>

<% else %>

	<% provide(:title, "Witaj na Tuduk!") %>
	<p>
		Możesz zobaczyć listę aktualnych użytkowników
		<%= link_to "Zobacz użytkowników", users_path, :class => "btn btn-primary pull-right" %>
	</p>

<% end %>
