<div class="well">
	
	Adjust layout 
	
	<div class="btn btn-success btn-mini pull-right">
		Close
	</div>

	<div class="pull-right">
		&nbsp;&nbsp;|&nbsp;&nbsp;
	</div>

	<div class="btn-group pull-right" data-toggle="buttons-radio">
	  <button class="btn btn-mini" id="layoutFixed">Fixed</button>
	  <button class="btn btn-mini" id="layoutFluid">Fluid</button>
	</div>
	
</div>